$main-color: #8e7aae;
$main-color-active: #6a558c;
$svg-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(65deg) brightness(114%) contrast(106%);

@mixin flex($direction: row) {
    display: flex;
    flex-direction: $direction;
}

@mixin transition-nav-button {
    transition: background-color 250ms linear;
}

//Barra de Menu Responsive Mobile-Web
@media only screen and (max-width: 1006px) {
    .navigation-menu-web {
        display: none !important;
    }

    .navigation-menu-mobile {
        width: 100px;
        height: 100%;
        @include flex();
        justify-content: center;
    }
}

@media only screen and (min-width: 1006px) {
    .navigation-menu-web {
    }

    .navigation-menu-mobile {
        display: none !important;
    }
}

.carousel-inner {
    height: calc(100vh - 135px);
}

* {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

body {
    height: calc(100vh - 135px);
}

.main-image {
    width: 100%;
    height: 100%;
}

header {
    height: 75px;
    background-color: $main-color;
    padding: 0 25px;
    @include flex(row);
    align-items: center;
    justify-content: space-between;

    .logo-container {
        width: 250px;
        height: 100%;
        @include flex(row);
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
    }

    .logo-container:hover {
        background-color: white;
        color: black;
    }

    .logo-container img {
        width: 70px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

nav {
    height: 100%;
    font-size: 20px;

    div.navigation-menu-mobile {
        .btn {
            background-color: $main-color;
            width: 100px;

            img {
                width: 3rem;
                filter: $svg-white;
            }
            &:active {
                background-color: $main-color-active;
            }
        }
        ul.dropdown-menu {
            background-color: $main-color;

            &.show {
                @include flex(column);
                height: 50%;
                padding: 0;
                border-radius: 0;
                font-size: 1em;
            }

            li {
                background-color: $main-color;
                text-decoration: none;
                height: 100%;
                @include transition-nav-button;

                &:hover {
                    background-color: white;
                    cursor: pointer;
                    text-decoration: none;
                }

                a {
                    text-decoration: none;
                    color: white;
                    width: 100%;
                    height: 100%;
                    @include flex();
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
    ul.navigation-menu-web {
        @include flex(row);
        list-style-type: none;
        width: 100%;
        height: 100%;
        margin: 0;
        align-items: center;
        padding-inline-start: 0;

        li {
            background-color: $main-color;
            text-decoration: none;
            height: 100%;
            @include transition-nav-button;

            &:hover {
                background-color: white;
                cursor: pointer;
                text-decoration: none;
            }

            a {
                text-decoration: none;
                color: white;
                width: 100%;
                height: 100%;
                @include flex();
                align-items: center;
                justify-content: center;

                &:hover {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

h1.titulo-principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #825c7f;
    font-size: 14em;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

li {
    width: 200px;
    text-align: center;
}

main {
    box-sizing: border-box;
    height: 100%;

    &.contacto-donde-estamos {
        padding: 25px;
        height: 100%;
    }

    &.galeria {
        padding: 25px;
    }

    &.productos-container {
        background-color: #f0f0f0;
        padding: 25px;
    }

    &.quienes-somos {
        @include flex(column);
        overflow: auto;
        padding: 50px 100px;
    }
}

footer {
    width: 100%;
    height: 60px;
    color: white;
    background-color: #999999;
    @include flex();
    align-items: center;
    justify-content: space-between;

    .redes-sociales {
        @include flex();
        align-items: center;
        margin-right: 25px;

        .red-social {
            height: 30px;
            filter: $svg-white;
        }
    }

    .seguinos-en {
        margin-right: 10px;
    }
}

/* Estilos Pagina Contacto*/
.contacto form {
    @include flex(column);
    width: 100%;
}

form {
    * {
        transition: transform 1s;
    }

    input {
        height: 30px;
        margin: 5px 0;

        &:focus {
            transform: scale(1.02);
        }
    }

    textarea {
        height: 100px;
        resize: vertical;
        min-height: 75px;
        max-height: 300px;

        &:focus {
            transform: scale(1.02);
        }
    }

    .enviar {
        background-color: $main-color;
        color: white;
        border: 0;
        height: 50px;
        width: 200px;
        align-self: flex-end;
        font-size: 15px;
        margin-top: 10px;

        & span {
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        & span:after {
            content: "\00bb";
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
        &:hover span {
            padding-right: 25px;
        }

        &:hover span:after {
            opacity: 1;
            right: 0;
        }
    }
}

//Pagina de Contacto Responsive Mobile-Web
@media only screen and (max-width: 1100px) {
    main.contacto-donde-estamos {
        @include flex(column);
        overflow-y: auto;
        section {
            width: 100%;
            height: 50%;
        }
    }
}

@media only screen and (min-width: 1100px) {
    main.contacto-donde-estamos {
        @include flex(row);

        section {
            width: 50%;
            height: 100%;
        }
    }
}

main.contacto-donde-estamos section {
    padding: 25px;
    box-sizing: border-box;

    h2 {
        font-weight: lighter;
        letter-spacing: 1px;
        align-self: flex-start;
    }

    &.contacto {
        @include flex(column);
        background-color: lightgray;
        align-items: center;
        justify-content: center;
        overflow: auto;
        min-height: 370px;
    }

    @media only screen and (max-width: 700px) {
        &.contacto {
            padding: 10px 20px;
        }
    }

    @media only screen and (min-width: 700px) {
        &.contacto {
            padding: 50px 100px;
        }
    }

    &.donde-estamos h2 {
        margin-bottom: 5px;
    }
}

.datos-de-contacto {
    @include flex(column);
    margin-top: 5px;

    .linea {
        @include flex(row);
        margin: 3px 0;

        .titulo {
            font-weight: bold;
            margin-right: 5px;
        }
    }
}

/*Estilos Pagina Galeria*/
.lista-de-imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    overflow-y: auto;
    overflow-x: hidden;
    column-gap: 10px;
    height: calc(100% - 55px);
    row-gap: 10px;
    align-items: center;
    justify-items: center;

    img {
        width: 100%;

        &:hover {
            cursor: pointer;
            animation-name: image-zoom-in-out;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes image-zoom-in-out {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: rgba(142, 122, 174, 1) 0px 5px 20px;
        transform: scale(1.15);
    }
}

/*Estilos Pagina productos*/
.lista-de-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    overflow-y: auto;
    column-gap: 10px;
    height: calc(100% - 55px);
    padding: 10px;
    row-gap: 10px;
    align-items: center;
    justify-items: center;
}

.producto {
    @include flex(column);
    border: 1px solid lightgrey;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 25px;
    box-sizing: border-box;

    img {
        width: 100%;
    }

    span.botonera {
        align-self: flex-start;
        margin: 3px 0;
    }

    .titulo {
        font-size: 25px;
    }

    .precio {
        align-self: flex-start;
        font-size: 20px;
        color: lightslategray;
    }

    .talles {
        align-self: flex-start;
        font-size: 13px;
    }

    ul.lista-talles {
        list-style-type: none;
        padding-inline-start: 0;
        @include flex();
        justify-content: space-between;
        width: 100%;
        @include flex(row);

        li {
            border: 1px solid lightgray;
            height: 30px;
            width: 40px;
            text-align: center;
            @include flex();
            align-items: center;
            justify-content: center;
            background-color: white;
            color: black;
            transition: background-color 250ms;
            
            &:hover {
                color: white;
                background-color: $main-color;
                border: 1px solid black;
                cursor: pointer;
            }
        }
    }
}

.botonera {
    @include flex(row);
    justify-content: space-between;
    padding: 0 10px;
    flex-wrap: wrap;

    form {
        @include flex(row);
        align-items: center;
        height: 40px;

        input {
            height: 40px;
            width: 350px;
        }
    }

    .boton {
        background-color: $main-color;
        color: white;
        border: 0;
        cursor: pointer;

        &.filtrar {
            width: 75px;
            height: 40px;
        }

        &.boton-buscar {
            @include flex(row);
            align-items: center;
            height: 40px;
            padding: 0 20px;

            img {
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(65deg) brightness(114%) contrast(106%);
            }
        }
    }
}

/*Quienes somos*/
p {
    text-align: justify;
    margin: 10px 0;
}

iframe {
    align-self: center;
    justify-self: center;
    margin: 25px 0;
    min-height: 400px;
    max-width: 700px;
    height: 400px;
    width: 100%;
}

/* carousel styles*/
.carousel {
    height: 100%;

    .carousel-inner {
        height: 100%;
        background-color: black;

        .carousel-item {
            height: 100%;

            img {
                object-fit: contain;
                object-position: center;
            }
        }
    }
}
